<div class="posts">
  <% @posts.each do |post| %>
	<section class="post">
		<div class="user">
		  <div class="avatar">
		    <% if post.user.avatar.attached? %>
		      <%= link_to user_path(post.user) do %>
		        <%= image_tag post.user.avatar %>
		      <% end %>
		    <% end %>
		  </div>
		  <%= link_to post.user.username, user_path(post.user), class: 'username' %>
		</div>
	  <a href="<%= post_path(post) %>"><%= image_tag post.image, class: 'main-image' %></a>
	  <div class="index-desc_comments">
	  	<div class="index-description">
	  		<strong><%= post.user.username %></strong>
		    <%= post.description %>	
		    <br>      
		  </div>
	    <div class="index-comments">
		    <% if post.comments.present? %>
		   	  <%= link_to "View comment", post_path(post) %>
		   	<% else %>
		   	  <%= link_to "Comment", post_path(post) %>
		    <% end %>
	    </div>
	  </div>

	</section>
  <% end %>
  <%= paginate @posts %>
</div>
