<div class="post-show row">
  <div class="col-md-8">
    <a href="<%= user_path %>"> <%=image_tag @post.image, class: 'image' %></a>
  </div>

  <div class="post-show-desc col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
           <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
    </div>
    <div class="show-desc-comments">
      <div class="show-description">
        <% @post.description.to_s.split(' ').each do |word| %>
          <% if word.start_with?('#') %>
            <%= link_to word, search_path(query: word) %>
          <%else %>
            <%= word %>
          <%end %>
        <% end %>
      </div>
      <div class="show-comments">
        <% @post.comments.each do |comment| %>
          <%= image_tag comment.user.avatar, class: "comments-avatar" %>
          <b><%= comment.user.username%></b>
              <%= comment.body %>
        <p class="comment-time">
          <%= time_ago_in_words(comment.created_at) %>
          <% if comment.user == current_user %>
            <%= link_to "delete", @comment , data: {turbo_method: :delete} , class: "comment-time" %>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
      <div class="show-comment-form"> 
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
          <%= f.text_field :body, class: "body", placeholder: "Add a comment..." %>
          <%= f.submit "Post", class: "btn" %>
        <% end %>
      </div>
<!--     <div class="delete">
      <%# if current_user.posts.exists?(@post.id) %>
        <%#= link_to 'Remove', post_path(@post),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <%# end %>
    </div> -->
  </div>
</div>