<div class="post-show row">
  <div class="col-md-8">
    <a href="<%= user_path %>"> <%=image_tag @post.image, class: 'image' %></a>
  </div>

  <div class="post-show-desc col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
           <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: "username" %>
    </div>
    <div class="show-desc-comments">
    <%#= @post.likes.count %>
    <%# like = current_user.likes.find_by(post: @post) %>
    <%# if like.nil? %>
       <%#= button_to "Like", likes_path, params: { like: {post_id: @post.id}}, method: :post %>
    <%# else %>
       <%#= button_to "Unlike", like_path(like), method: :delete %>
    <%# end %>
    <div class="show-description">
      <div class="show-desc-avt">
        <div>
          <div class="avatar2">
            <% if @post.user.avatar.attached? %>
              <%= link_to user_path(@post.user) do %>
               <%= image_tag @post.user.avatar %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="show-description2">
          <%= link_to @post.user.username, user_path(@post.user), class: 'username2' %>
          <% @post.description.to_s.split(' ').each do |word| %>
            <% if word.start_with?('#') %>
              <%= link_to word, search_path(query: word) %>
            <%else %>
              <%= word %>
            <%end %>
          <% end %>
        </div>        
      </div>
      <div class="show-comments">
        <% @post.comments.each do |comment| %>
          <%= image_tag comment.user.avatar, class: "comments-avatar" %>
          <b><%= comment.user.username%></b>
              <%= comment.body %>
        <p class="comment-time">
          <%= time_ago_in_words(comment.created_at) %> ago
          <% if comment.user == current_user %>
            <%= link_to "delete", @comment , data: {turbo_method: :delete} , class: "comment-time" %>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
      <div class="show-icons-main">
        <div>
          <a href="<%= root_path %>"><i class="fa-regular fa-heart fa-index fa-2x"></i></a>
          <a href="<%= root_path %>"><i class="fa-regular fa-comment fa-index fa-2x"></i></a>
          <a href="<%= root_path %>"><i class="fa-sharp fa-solid fa-share fa-2x"></i></a>
        </div>
        <div>
          <a href="<%= root_path %>"><i class="fa-regular fa-bookmark fa-2x"></i></a>
        </div>
      </div>
    </div>
      <div class="show-comment-form"> 
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
          <%= f.text_field :body, class: "body", placeholder: "Add a comment..." %>
          <%= f.submit "Post", class: "btn" %>
        <% end %>
      </div>
<!--     <div class="delete">
      <%# if current_user.posts.exists?(@post.id) %>
        <%#= link_to 'Remove', post_path(@post),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <%# end %>
    </div> -->
  </div>
</div>